# Ingest Large Linkedin Dataset to MongoDB and Analyze Dataset

## As Data Engineer

### 1) Download LinkedIn Dataset

Download LinkedIn dataset from https://www.kaggle.com/datasets/asaniczka/1-3m-linkedin-jobs-and-skills-2024?resource=download to local

### 2) Install Required Libraries

In [2]:
!pip install pandas pymongo

Collecting pandas
  Downloading pandas-2.3.3-cp311-cp311-manylinux_2_24_aarch64.manylinux_2_28_aarch64.whl.metadata (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.2/91.2 kB 1.4 MB/s eta 0:00:00a 0:00:01
Collecting pymongo
  Downloading pymongo-4.15.2-cp311-cp311-manylinux2014_aarch64.manylinux_2_17_aarch64.manylinux_2_28_aarch64.whl.metadata (22 kB)
Collecting numpy>=1.23.2 (from pandas)
  Downloading numpy-2.3.3-cp311-cp311-manylinux_2_27_aarch64.manylinux_2_28_aarch64.whl.metadata (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.1/62.1 kB 5.0 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.3.3-cp311-cp311-manylinux_2_24_aarch64.manylinux_2_28_aarch64.whl (12.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.2/12.2 MB 3.0 MB/s eta 0:00:0000:0100:01
Downloading pymongo-4.15.2-cp311-cp311-manylinux2014_aarch64.manylinux_2_17_aarch64.manylinux_2_28_aarch64.whl (1.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 2.3 MB/s eta 0:00:0000:0100:01
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 3.8 MB/s eta 0:00:00a 0:00:01
Downloading numpy-2.3.3-cp311-cp311-manylinux_2_27_aarch64.manylinux_2_28_aarch64.whl (14.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.6/14.6 MB 2.8 MB/s eta 0:00:0000:0100:01
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 347.8/347.8 kB 2.5 MB/s eta 0:00:00a 0:00:01
Installing collected packages: tzdata, numpy, dnspython, pymongo, pandas
Successfully installed dnspython-2.8.0 numpy-2.3.3 pandas-2.3.3 pymongo-4.15.2 tzdata-2025.2

In [35]:
import pandas as pd

### 3) Data Exploration and Cleaning

In [63]:
linkedin = pd.read_csv("../data/linkedin-job/linkedin_job_postings.csv")

In [64]:
linkedin.tail()

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
1348449,https://www.linkedin.com/jobs/view/registered-...,2024-01-20 15:21:07.786118+00,t,t,f,Registered Nurse (RN) #CP-RN-7998660 - 2411627...,TravelNurseSource,"Providence, RI",2024-01-14,Fall River,United States,Nurse Supervisor,Mid senior,Onsite
1348450,https://www.linkedin.com/jobs/view/constructio...,2024-01-20 15:21:10.885264+00,t,t,f,Construction Superintendent,Jobot,"New Iberia, LA",2024-01-15,Lafayette,United States,Assistant Construction Superintendent,Mid senior,Onsite
1348451,https://www.linkedin.com/jobs/view/executive-c...,2024-01-21 07:40:00.304641+00,t,t,f,"Executive Chef, Operations Support",NEXDINE Hospitality,"Riverhead, NY",2024-01-14,Eastport,United States,Chef,Mid senior,Onsite
1348452,https://www.linkedin.com/jobs/view/rn-register...,2024-01-21 00:38:39.816821+00,t,t,f,"RN- Registered Nurse, Analyst - - 23934913EXPP...",TravelNurseSource,"Aurora, CO",2024-01-16,Colorado,United States,Occupational Analyst,Mid senior,Onsite
1348453,https://www.linkedin.com/jobs/view/on-demand-g...,2024-01-21 00:38:44.231492+00,t,t,f,"On-Demand: Guest Advocate (Cashier), General M...",Target,"Culver City, CA",2024-01-12,Malibu,United States,Cashier Ii,Mid senior,Onsite

In [67]:
linkedin.describe(include="all")

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
count,1348454,1348454,1348454,1348454,1348454,1348454,1348443,1348435,1348454,1348454,1348454,1348454,1348454,1348454
unique,1348454,722748,2,2,2,584544,90605,29153,6,1018,4,1993,2,3
top,https://www.linkedin.com/jobs/view/account-exe...,2024-01-19 09:45:09.215838+00,t,t,f,LEAD SALES ASSOCIATE-FT,Health eCareers,"New York, NY",2024-01-14,Baytown,United States,Account Executive,Mid senior,Onsite
freq,1,625540,1297877,1296401,1346978,7325,41598,13436,460035,10052,1149342,19468,1204445,1337633

#### Step 1: Data Exploration

The goal is to understand what kind of data you have, its shape, distribution, and quality before jumping into cleaning or visualization.

#### a. Basic Info Check

Use:

```
df.info()
df.head()
df.tail()
```

Purpose:
See number of columns, data types, and whether there are missing values.

In [68]:
linkedin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1348454 entries, 0 to 1348453
Data columns (total 14 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   job_link             1348454 non-null  object
 1   last_processed_time  1348454 non-null  object
 2   got_summary          1348454 non-null  object
 3   got_ner              1348454 non-null  object
 4   is_being_worked      1348454 non-null  object
 5   job_title            1348454 non-null  object
 6   company              1348443 non-null  object
 7   job_location         1348435 non-null  object
 8   first_seen           1348454 non-null  object
 9   search_city          1348454 non-null  object
 10  search_country       1348454 non-null  object
 11  search_position      1348454 non-null  object
 12  job_level            1348454 non-null  object
 13  job_type             1348454 non-null  object
dtypes: object(14)
memory usage: 144.0+ MB

In [69]:
linkedin.head()

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
0,https://www.linkedin.com/jobs/view/account-exe...,2024-01-21 07:12:29.00256+00,t,t,f,Account Executive - Dispensing (NorCal/Norther...,BD,"San Diego, CA",2024-01-15,Coronado,United States,Color Maker,Mid senior,Onsite
1,https://www.linkedin.com/jobs/view/registered-...,2024-01-21 07:39:58.88137+00,t,t,f,Registered Nurse - RN Care Manager,Trinity Health MI,"Norton Shores, MI",2024-01-14,Grand Haven,United States,Director Nursing Service,Mid senior,Onsite
2,https://www.linkedin.com/jobs/view/restaurant-...,2024-01-21 07:40:00.251126+00,t,t,f,RESTAURANT SUPERVISOR - THE FORKLIFT,Wasatch Adaptive Sports,"Sandy, UT",2024-01-14,Tooele,United States,Stand-In,Mid senior,Onsite
3,https://www.linkedin.com/jobs/view/independent...,2024-01-21 07:40:00.308133+00,t,t,f,Independent Real Estate Agent,Howard Hanna | Rand Realty,"Englewood Cliffs, NJ",2024-01-16,Pinehurst,United States,Real-Estate Clerk,Mid senior,Onsite
4,https://www.linkedin.com/jobs/view/group-unit-...,2024-01-19 09:45:09.215838+00,f,f,f,Group/Unit Supervisor (Systems Support Manager...,"IRS, Office of Chief Counsel","Chamblee, GA",2024-01-17,Gadsden,United States,Supervisor Travel-Information Center,Mid senior,Onsite

#### b. Statistical Summary

```
df.describe(include="all")
```

Purpose:
Understand: 
- Numeric column range (min, max, mean)
- Common categories in text fields
- Data density (how many nulls)

In [70]:
linkedin.describe(include="all")

,job_link,last_processed_time,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
count,1348454,1348454,1348454,1348454,1348454,1348454,1348443,1348435,1348454,1348454,1348454,1348454,1348454,1348454
unique,1348454,722748,2,2,2,584544,90605,29153,6,1018,4,1993,2,3
top,https://www.linkedin.com/jobs/view/account-exe...,2024-01-19 09:45:09.215838+00,t,t,f,LEAD SALES ASSOCIATE-FT,Health eCareers,"New York, NY",2024-01-14,Baytown,United States,Account Executive,Mid senior,Onsite
freq,1,625540,1297877,1296401,1346978,7325,41598,13436,460035,10052,1149342,19468,1204445,1337633

- count : Number of non-null entries
- unique : Number of distinct values
- top : The most frequent value
- freq : How many times that “top” value appears

#### c. Unique Values and Distribution

```
df["job_title"].nunique()
df["location"].value_counts().head(10)
```

Purpose: See how diverse or repetitive some fields are.

In [72]:
linkedin["job_title"].nunique()

584544

#### d. Null / Missing Value Analysis

```
df.isna().sum().sort_values(ascending=False)
```

Purpose: Identify which columns have many missing values and need attention.

In [71]:
linkedin.isna().sum().sort_values(ascending=False)

job_location           19
company                11
job_link                0
last_processed_time     0
got_summary             0
got_ner                 0
is_being_worked         0
job_title               0
first_seen              0
search_city             0
search_country          0
search_position         0
job_level               0
job_type                0
dtype: int64

#### e. Data Sample Inspection
```
df.sample(5)
```

Purpose: Get a sense of how consistent the data is — e.g., whether “skills” are comma-separated, JSON-formatted, or mixed.

#### Step 2: Data Cleaning

#### a. Handle Missing Values

Fill empty column (skills or job_title or company_name) with empty string:

```
df["skills"] = df["skills"].fillna("")
```

Or drop columns that are mostly empty:

```
df = df.drop(columns=["salary_estimate"], errors="ignore")
```

Trade-off: Keep or drop the row?

| Option                      | Why Keep It                                                       | Why Drop It                        |
| --------------------------- | -------------------------------------------------------------------- | ------------------------------------- |
| **Keep (fill empty value)** | Keeps all rows (no data loss).<br>Other columns may still be useful. | Incomplete data might affect results. |
| **Drop (remove the row)**   | Cleaner dataset, easier to analyze.                                  | Lose some data and context.           |

In [ ]:
linkedin["job_location"] = linkedin["job_location"].fillna("")
linkedin["company"] = linkedin["company"].fillna("")

Checking is the missing value still exist

In [ ]:
linkedin.isna().sum().sort_values(ascending=False)

job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64

#### b. Normalize Text

Lowercase everything for easier comparison:

```
df["skills"] = df["skills"].str.lower()
```

Remove extra spaces:

```
df["skills"] = df["skills"].str.strip()
```

#### c. Split Multi-Value Fields

If “skills” is a comma-separated string:

```
df["skills_list"] = df["skills"].apply(lambda x: [s.strip() for s in x.split(",") if s])
```

So each document in MongoDB will have a clean array:

```
"skills_list": ["python", "sql", "data analysis"]
```

#### d. Convert Dates and Numbers

```
df["post_date"] = pd.to_datetime(df["post_date"], errors="coerce")
```

Ensures you can sort or filter by date later.

`errors="coerce"` = "Try to convert everything to datetime, and if you can’t, just make it NaT instead of breaking."

#### e. Remove Duplicates

```
df = df.drop_duplicates(subset=["job_title", "company_name", "location"])
```

Before removing duplicates, we should first check how many unique values exist in each column.
The `describe()` method (with `include="all"`) shows a summary that includes the unique count for categorical or object-type columns.

This helps us identify which columns might contain duplicate or repeated entries.
Once we know which columns have many repeated values, we can decide whether to remove duplicates using methods like `drop_duplicates()`.

### 4) Insert per chunks (optimize)

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#iterating-through-files-chunk-by-chunk

In [93]:
linkedin_chunks = pd.read_csv("../data/linkedin-job/linkedin_job_postings.csv", chunksize=50000)

In [89]:
for chunk in linkedin_chunks:
    # process
    chunk["job_location"] = chunk["job_location"].fillna("")
    chunk["company"] = chunk["company"].fillna("")
    print(chunk.isna().sum().sort_values(ascending=False))

job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64
job_link               0
last_processed_time    0
got_summary            0
got_ner                0
is_being_worked        0
job_title              0
company                0
job_location           0
first_seen             0
search_city            0
search_country         0
search_position        0
job_level              0
job_type               0
dtype: int64

#### Insert to MongoDB

In [102]:
from pymongo import MongoClient

USERNAME = "admin"
PASSWORD = "password"
HOST = "host.docker.internal" # docker host, bisa localhost
PORT = "27017"
CONN_STR = f"mongodb://{USERNAME}:{PASSWORD}@{HOST}:{PORT}/" 
client = MongoClient(CONN_STR)
print(client.list_database_names())

['admin', 'config', 'linkedin', 'local', 'weather']

In [91]:
db = client["linkedin"]
collection = db["job_postings"]

In [94]:
for chunk in linkedin_chunks:
    # process
    chunk["job_location"] = chunk["job_location"].fillna("")
    chunk["company"] = chunk["company"].fillna("")
    
    # Convert DataFrame to list of dictionaries (MongoDB documents)
    records = chunk.to_dict("records")
    
    # Insert into MongoDB
    collection.insert_many(records)
    
    print(f"Inserted {len(records)} records.")

Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 50000 records.
Inserted 48454 records.

Notes:

- Each chunk is a smaller, manageable DataFrame (e.g., 50K rows).

- MongoDB can handle this efficiently because it writes each list of documents in bulk.

- Always use `.to_dict("records")` — it converts each row into a JSON-like dictionary MongoDB can store.

![mongo-db-inserted-rows](../data/image/mongo-db-inserted-rows.png)

### 5) Access and Analyze Data from MongoDB

As a data analyst, I want to retrieve data from MongoDB so that I can examine which job titles or industries are most in demand across various cities and countries.

In [106]:
db = client["linkedin"]
collection = db["job_postings"]
data = list(collection.find({}, {"_id": 0}))  # exclude the _id field

In [108]:
mongodb_linkedin_df = pd.DataFrame(data)
print(mongodb_linkedin_df.head())

                                            job_link  \
0  https://www.linkedin.com/jobs/view/account-exe...
1  https://www.linkedin.com/jobs/view/registered-...
2  https://www.linkedin.com/jobs/view/restaurant-...
3  https://www.linkedin.com/jobs/view/independent...
4  https://www.linkedin.com/jobs/view/group-unit-...

             last_processed_time got_summary got_ner is_being_worked  \
0   2024-01-21 07:12:29.00256+00           t       t               f
1   2024-01-21 07:39:58.88137+00           t       t               f
2  2024-01-21 07:40:00.251126+00           t       t               f
3  2024-01-21 07:40:00.308133+00           t       t               f
4  2024-01-19 09:45:09.215838+00           f       f               f

                                           job_title  \
0  Account Executive - Dispensing (NorCal/Norther...
1                 Registered Nurse - RN Care Manager
2               RESTAURANT SUPERVISOR - THE FORKLIFT
3                      Independent Real Estate Agent
4  Group/Unit Supervisor (Systems Support Manager...

                        company          job_location  first_seen  \
0                            BD         San Diego, CA  2024-01-15
1             Trinity Health MI     Norton Shores, MI  2024-01-14
2       Wasatch Adaptive Sports             Sandy, UT  2024-01-14
3    Howard Hanna | Rand Realty  Englewood Cliffs, NJ  2024-01-16
4  IRS, Office of Chief Counsel          Chamblee, GA  2024-01-17

   search_city search_country                       search_position  \
0     Coronado  United States                           Color Maker
1  Grand Haven  United States              Director Nursing Service
2       Tooele  United States                              Stand-In
3    Pinehurst  United States                     Real-Estate Clerk
4      Gadsden  United States  Supervisor Travel-Information Center

    job_level job_type
0  Mid senior   Onsite
1  Mid senior   Onsite
2  Mid senior   Onsite
3  Mid senior   Onsite
4  Mid senior   Onsite

### Assignments

As a Data Engineer, ingest data [job_summary](../data/linkedin-job/job_summary.csv) and [job_skills](data/linkedin-job/job_skills.csv) to MongoDB